body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9; /* Cor de fundo mais suave */
}

.container {
    background-color: #ffffff; /* Fundo branco para o formulário */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #da48ae; /* Cor rosa para o título */
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box; /* Inclui o padding e border no width total */
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #da48ae; /* Cor rosa para o foco */
    outline: none;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #da48ae; /* Cor rosa vibrante */
}

.btn-primary:hover {
    background-color: #c73c9d; /* Cor rosa mais escura para o hover */
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    button {
        width: 100%;
        font-size: 18px;
    }
}


